@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>@ViewData["ContatoNome"]</strong><br />
    Cleberson.siqueira17@gmail.com<br />
    https://github.com/ClebersonSiqueira
</address>


