@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <img src="~/images/KolpingImage.jpg" alt="ASP.NET" class="img-responsive" />
</div>