@model Aplicacao_Kolping.Models.AlunosFormViewModel
@{
    ViewData["Title"] = "Editar";
}
<h2>@ViewData["Title"]</h2>

<h4>Aluno</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Editar">
            <input type="hidden" asp-for="Aluno.ID" />
            <div class="form-group">
                <label asp-for="Aluno.Nome" class="control-label"></label>
                <input asp-for="Aluno.Nome" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Aluno.Documento" class="control-label"></label>
                <input asp-for="Aluno.Documento" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Aluno.Nascimento" class="control-label"></label>
                <input asp-for="Aluno.Nascimento" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Aluno.Telefone" class="control-label"></label>
                <input asp-for="Aluno.Telefone" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Aluno.Email" class="control-label"></label>
                <input asp-for="Aluno.Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Aluno.Rua" class="control-label"></label>
                <input asp-for="Aluno.Rua" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Aluno.Numero" class="control-label"></label>
                <input asp-for="Aluno.Numero" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Aluno.Bairro" class="control-label"></label>
                <input asp-for="Aluno.Bairro" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Aluno.Cidade" class="control-label"></label>
                <input asp-for="Aluno.Cidade" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Aluno.Cep" class="control-label"></label>
                <input asp-for="Aluno.Cep" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Aluno.DiadePagamento" class="control-label"></label>
                <input asp-for="Aluno.DiadePagamento" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Aluno.Modalidades" class="control-label"></label>
                <select asp-for="Aluno.Modalidades" asp-items="@(new SelectList(Model.Modalidades, "Id", "Name"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>