@model Aplicacao_Kolping.Models.AlunosFormViewModel
@{
    ViewData["Title"] = "Novo Aluno";
}
<h2>@ViewData["Title"]</h2>

<h4>Aluno</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Criar">
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Documento" class="control-label"></label>
                <input asp-for="Documento" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Nascimento" class="control-label"></label>
                <input asp-for="Nascimento" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Rua" class="control-label"></label>
                <input asp-for="Rua" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Bairro" class="control-label"></label>
                <input asp-for="Bairro" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Cidade" class="control-label"></label>
                <input asp-for="Cidade" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DiadePagamento" class="control-label"></label>
                <input asp-for="DiadePagamento" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="PostModalidades" class="control-label"></label>
                <select asp-for="PostModalidades" asp-items="@ViewBag.Modalidades" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}