@model Aplicacao_Kolping.Models.Alunos
@{
    ViewData["Title"] = "Pagamento Realizado";
}

<h2>Pagamento Realizado</h2>
<hr />
<div>
    <a asp-action="Detalhes" asp-route-id="@Model.ID">Voltar</a>
</div>


